[submodule "simple"]
	path = simple
	url = https://github.com/wangfenjin/simple.git
[submodule "src/web/sqlite3.dart"]
	path = src/web/sqlite3.dart
	url = https://github.com/simolus3/sqlite3.dart.git
